/*INIZIO COMMON*/
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.debug {
    height: 200px;
}
/*FINE COMMON*/



/*INIZIO HEADER*/
.menu-right ul {
    text-align: right;
    list-style-type: none;
}

.menu-right li {
    display: inline-block;
    margin-left: 20px;
    line-height: 15px;
}

.wrapper-menu-left, .wrapper-menu-right {
    background-color: #2C3E50;
    color: white;
    padding: 20px;
}

header {
    background-color: #2C3E50;
}

.burger-menu {
    color: white;
    padding-top: 20px;
}

/*FINE HEADER*/


.wrapper-profile {
    background-color: #1ABC9C;
    height: 500px;
    text-align: center;
}

.profile {
    padding-top: 100px;
    color: white;
}

.profile img {
    height: 200px;
    width: auto;
}

#description {
    margin-top: 20px;
    font-size: 14px;   
}

/*ICONA STAR*/

.fa-star {
    margin-left: 5px;
    margin-right: 5px;
}



.special-character {
    text-align: center;
    margin-bottom: 40px;
}

/*INIZIO TILES*/

.col-inner {
    padding-top: 10px;
}

.red-tile {
    background-color: #BA4B63;
}

.heavenly-tile {
    background-color: #1EA4B6;
}

.black-tile {
    background-color: black;
}

.cyan-tile {
    background-color: #1C83C1;
}

.blue-tile {
    background-color: #0E38B5;
}

.brown-tile {
     background-color: #CCB2A3;
}
/*FINE TILES*/



/*INIZIO ABOUT ME*/
.center {
    text-align: center;
}

.centratura {
    padding-left: 20px;
    padding-right: 20px;
}

#about-me {
    background-color: #1ABC9C;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    color: white;
}

.text1 , .text2 {
    margin-bottom: 40px;
    margin-top: 20px;
}
/*FINE ABOUT ME*/



/*INIZIO CONTACT ME*/
.wrapper-contact-me {
    padding: 80px;
}
/*FINE CONTACT ME*/



/*INIZIO FOOTER*/
.footer-top {
    background-color: #3A546D;
    color: white;
    padding: 60px;
}

.footer-bottom {
    background-color: #2C3E50;
    color: white;
    padding: 30px;
}
/*FINE FOOTER*/